Package: anno
Version: 1.0.0
Architecture: all
Maintainer: Sam <sam@example.com>
Description: A simple note-taking application for the terminal and GUI.
 Anno is a lightweight, fast, and versatile note-taking application designed for the command line, but with a powerful GUI as well.
Depends: python3, python3-tk, jq
